.element__like{
    width: 22px;
    height: 19px;
    margin-right: 20px;
    background-image: url(../../../images/elements/like.svg);
    background-position: center;
    background-size: 22px 19px;
    background-color: white;
    border: none;
    cursor: pointer;
    align-self: center;
}

.element__like:hover {
    opacity: 0.5;
}

.element__like:active {
    opacity: 1;
    background-image: url(../../../images/elements/active-like.svg);
}


.element__like_active {
    opacity: 1;
    background-image: url(../../../images/elements/active-like.svg);
}