.popup__fild {
    width: 358px;
    margin-top: 54px;
    margin-left: 36px;
    margin-bottom: 0;
    padding-bottom: 11px;
    padding-top: 0;
    z-index: 1;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-width: 0 0 1px 0;
    font-family: 'Inter', ‘Arial’, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
}

.popup__fild:last-of-type {
    margin-top: 30px;
}

@media screen and (max-width: 767px) {
    .popup__fild {
        width: 238px;
        margin-top: 75px;
        margin-left: 22px;;
        }
  }