.element__title {
    max-width: 180px;
    margin: 0;
    margin-left: 21px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-family: inter;
    font-style: black;
    font-size: 24px;
    line-height: 29px;
    line-height: 100%;
}