.profile__title {
    max-width: 294px;
    height: 39px;
    margin: 0;
    grid-area: title;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
}

@media screen and (max-width: 767px) {
    .profile__title {
        max-width: 189px;
        height: 26px;
        margin-left: 46px;
        margin-bottom: 0;
        font-size: 27px;
        line-height: 33px;
    }
  }