.profile__info {
    max-width: max-content;
    margin-top: 22px;
    margin-bottom: 25px;
    margin-left: 30px;
    display: grid;
    align-items: baseline;
    column-gap: 25px;
    grid-template-columns: 1fr 24px;
    grid-template-rows: 1fr;
    grid-template-areas:
    "title button"
    "text text";
}

@media screen and (max-width: 767px) {
    .profile__info {
        margin-left: 0;
        grid-template-columns: 1fr;
        column-gap: 10px;
        row-gap: 8px;
        margin-bottom: 36px;
    }
  }